
@{
    ViewData["Title"] = "Accomplishments";
}


<!DOCTYPE html>


<meta name="viewport" content="width=device-width, initial-scale=1">

@*<head>
    <style>
    div.background {
      background: url(klematis.jpg) repeat;
      border: 2px solid black;
    }

    div.transbox {
      margin: 30px;
      background-color: #ffffff;
      border: 1px solid black;
      opacity: 0.6;
      filter: alpha(opacity=60); /* For IE8 and earlier */
    }

    div.transbox p {
      margin: 5%;
      font-weight: bold;
      color: #000000;
    }
    </style>
    </head>*@
<center>
    <br /><br />
    <h1>My Certifications in Tech</h1>

</center>



<body>

    <p>
        <a href="https://www.w3schools.com">
            <img src="~/css/Image/Networkplus.jpg" width="200" height="200" border="0">
        </a>
    </p>


    <div>
        <p>The first technical certification I earned was Network+ by CompTIA computer networking cert which covers 5 sections: network concepts, installation and configuration, media and topologies, management, and security. The Network Plus Certification is a mid-level certicatfion for network technicians. It tests your ability to establish and support a network while understanding a variety of networking technologies, including TCP/IP and the OSI model </p>
    </div>
    <br /><br /><br />
    <p>
        MTA CLoud logo:
        <a href="https://www.w3schools.com">
            <img src="~/css/Image/mtacloud.jpg" width="200" height="200" border="0">
        </a>
    </p>
    <div>
        <p>The Microsoft Technology Associate for Cloud Fundamentals address a wide spectrum of fundamental technical concepts, assess and validate core technical knowledge, and enhance technical credibilty.</p>
    </div>

    <center>
        <br /><br />
        <h1>My Accomplishments in Tech</h1>
    </center>


    <a href="https://military.microsoft.com/programs/microsoft-software-systems-academy/">Click here to learn more about the MSSA program</a>
    <div>
        <p>
            July 1, 2019 was when my cohort for the Microsoft Software and System's Academy began. Prior to this course I did not have expereince with software development.
            The Cloud Applications Developer Specialization teaches you to design, build, and deploy applications to the web using cloud-based services. You’ll start
            by acquiring programming skills with C# and data management skills with SQL, then apply those capabilities to build web applications with Microsoft’s ASP.NET
            MVC framework. You’ll dive deep into what it takes to construct and maintain modern "web-apps" and culminate by deploying your own application to the cloud.
            Throughout, you’ll learn the conceptual frameworks and gain the hands-on skills you need to master cloud-centric backend web development. <br /> -Host by Embry-Riddle Aeronautical University<br /> <a rhef="https://worldwide.erau.edu/microsoft-software-systems-academy">For more information on Embry-Riddle click here</a>
        </p>
    </div>
    <br /><br /><br /><br /><p>
        C# Programming Language:general purpose program language focused on Object-Oriented Concepts<br />
        My space game which was created for a Console Application was my ah-ha moment in learning C#. <br />
        This game was to demonstarte your understanding of what was covered up to week 5 and deliver <br />
        the following:
        <ul>
            <li>
                An algorithm<br />
                IPO chart (Input, Process, Output)<br />
                Mockup depicting the output to the screen<br />
                and a flowchart depicting the flow of the program<br />
                classes with method stubs and properties via a class diagram<br />
                use cases or test method stubs<br />
            </li>
        </ul>
        This was beneficial to helping my teammate and I create a plan to attack our first sprint. This <br />
        was the first time in the class to work with a team member and utilize a scrum/agile environment.<br />
        I included a snippet of the game in action and the github link if you wanted to check out the <br />
        console game for yourself!
        <a href="https://github.com/Lindseyshepard1/SpaceGame" />br>
        <a href="https://github.com/Lindseyshepard/SpaceGame" /> This is a new github account I created<br />
        I wanted my repositories to look cleaner.
        <br /><br />


        Insert an image of the console run debugging at a fun part =]
    </p>


    <br /><br /><br /><br /><p>
        SQL Programming Language: used for the creation and management of data in Relational Databases<br />
        This course works with Northwind and TSQLV4 database.







        <center>
            <h1>Badges</h1>
        </center>
        <hr />
        <br />

        go onto microsoft edu portal, or azure account, anything that can show a badge of completion! dont forget the C# intro to programming on mil.edu portal that doesnt have a certification

</body>

