
@{
    ViewData["Title"] = "Index";
}



<!DOCTYPE html>




    <style>
    
        body {
            background-image:url("../image/lindseyhikingdownwashington.jpg");
            background-repeat:no-repeat;
            background-size:cover;
            background-attachment:scroll;
             text-align: center;
            
        }
        .transbox {
            background: rgba(255, 255, 255, 0.78);
            font-size: 22px;
            opacity: 1.0;
            width: 80%;
            margin: auto;
            text-align: center;
            padding: 14px 16px;
        }
   
    </style>

    <head>

        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <div style="text-align:center;font-size: 25px;"> <h1>Lindsey Shepard</h1>
                                                         <h3> <i>A young professional finding her place, one concept at a time</i></h3>
        </div>
     <hr />
       


    </head>
    <body>
        <div class="transbox">
            <br />
            <center>
                <img src="~/css/Image/linkedin.jpg" />

            </center><br />
            Hello, world! <br />
            My name is Lindsey Shepard, and this is my personal page. <br /><br />
            In July I began a new chapter of my life by participating in Microsofts Software and Systems Academy (MSSA)
            for Cloud Development. This was exciting and scary at the same time because I never walked down the road of software development. In January of 2019 I transitioned out of the United States
            Marine Corps and I was on the brink of college courses. I came across this opportunity to enroll in the MSSA program and my life changed. I found a challenge while I found a passion.
            <br /><br />
            Innovation.
            <br />
            A term used in the technology field and our daily lives. What exactly does it mean? Is it as
            straight forward as the definition provides? There are new ideas every day, new conversations in so many aspects of
            life that it cannot be limited to what we discover with data. And it’s not and that is the beauty of it. Technology is not limited to the IT industry. There is a form of innovation at every
            corner. New ideas are being cast in retail, aviation and how I order my coffee. I have been asked Why Tech? Why did you decide on this industry? The reasons
            behind may get complicated but my answer is simple. I want to be a part of an industry of passion and whose intent is to better the lives of everybody. If I can save the soccer mom an extra
            five minutes in the morning – I would collaborate and create an application. If I can help brainstorm software that can be adopted into a medical facility or help the staff complete their
            jobs then I succeeded. Why tech wasn’t a question to make me think why I want to do this. This question made me think where I want to start and what company has the same values in taking
            care of the world. These ideas are ambitious for someone so new to the industry, but my fire for learning more has never been so driving for me and I am absolutely addicted to the enthusiasm.
            I believe it is possible to have an impact. I believe in such a fast-paced and developing industry everybody can add their own personal touch of innovation. I am a positive, optimistic
            individual and feel that the technology field has an abundance of like minded people that I can surround myself with.
            <br /><br /><hr />




            <div style="font-size:small">
            Due to personal error my original GitHub website is<a href="https://github.com/lindseyshepard1"> www.github.com/lindseyshepard1 </a>
            <br /><br />
        </div>


        </div>
        </div>
        
    </body>