
@{
    ViewData["Title"] = "Introduction";
}


<!DOCTYPE html>


<head>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">




    <style>
        /*div.img {
            float: left;
            margin-right: 4px;
        }*/

     div.background {
            background: #ffeaea;
            border:2px;
            margin:auto;
        }

    </style>
</head>
<body>

    <div style="text-align:center">

        <h2>Lindsey Shepard</h2>
        <h4><i>A young professional finding her place, one concept at a time</i></h4>
    </div>

    <hr>


            Hello, world! My name is Lindsey Shepard, and this is my personal page.  On July 1, 2019 I began a new chapter
            of my life by participating in Microsoft’s Software and Systems Academy (MSSA) for Cloud Development. This was
            exciting and scary at the same time because I never walked down the road of software development. In January of
            2019 I transitioned out of the United States Marine Corps, on the brink of college courses, deciding what path I
            wanted to take my career. I came across this opportunity, MSSA, and my life changed. I have been faced with the
            challenges of the IT world; however, I have never been happier. Time flies when you’re having fun!



            Innovation. A word that is passed around a lot in the IT industry. What exactly is it? It is as straight

            forward as the definition provides? the action or process of innovating, a new method, idea,

            product, etc. There are new ideas every day, new conversations in so many aspect of life that it

            cannot be limited to what we find with data. And it’s not. That is the beauty of it. Technology is not

            limited to the IT industry. There is a form of innovation at every corner, medical achievements,

            mentally. New ideas are being cast in retail, aviation’s, how I order my coffee. I have been asked

            Why Tech? Why did you decide on this industry verse all the others. The reasons behind may get

            complicated, but my answer is simple. I want to be a part of an industry that’s passion and intent is

            to better the lives of everybody. If I can save the soccer mom an extra 5 minutes in the morning – I


            would collaborate and create an application, if I can help brainstorm software that can be adopted

            into a medical facility to help the staff  complete their jobs then I succeeded. Why tech wasn’t a

            question to make me think why do I want to do this. This question made me think where do I want

            to start and what company has the same values in taking care of the world.
            These ideas are ambitious for someone so new to the industry, but my fire for learning more has

            never been so driving for me and I am absolutely addicted to the passion. I believe it is possible to

            have an impact. I believe in such a fast-paced and developing industry everybody can add their own

            personal innovation. I want to be surrounded by the people that ooze optimism as much as I do.
        </div>
    </div>


</body>