@{
    ViewData["Title"] = "Resume";
}
<center>

    <h3>

        <b>LINDSEY SHEPARD</b>
    </h3>   <p>
        lindsey.shepard@outlook.com<br />
        https://www.linkedin.com/in/lindsey.shepard/<br />
        https://www.github.com/lindseyshepard/<br />
    </p>
</center>
<hr />
<p>An enthusiastic Software Developer pursuing a career path in Cloud Computing. Currently a student in Microsoft’s Software and Systems Academy for Cloud Application Development focusing on object-oriented programming concepts and learning how to build web applications in the .NET Framework. Four years of service in the military provided experience handling ambiguous tasks, meeting critical deadlines, while taking on new responsibilities. Eager to join a team involved with Cloud Applications as an entry level developer to contribute to product development and grow as an engineer in a team environment.  </p>
<wbr />
<CENTER>
    <h3>
        <b>SKILLS/ CERTIFICATIONS</b>
    </h3>
</CENTER>


<div class="row">
    <div class="column" style="background-color:white;">
        <ul>
            •	Progressive in HTML5, C#, SQL programming languages
            <br />
            •	ASP.NET Core MVC Web Application
            <br />
            •	Visual Studios 2019
            <br />
            •	Active Secret Security Clearance
            <br />
            •	CompTIA Network+
            <br />
            •	MTA Cloud Fundamentals Certification
            <br />


        </ul>
    </div>
</div>
<CENTER>
    <h3>
        <b>PROFESSIONAL EXPERIENCE</b>
    </h3>
</CENTER>
<b>
    Microsoft Software and Systems Academy (2019 – Present)<br />
    Student – Cloud Application Development
</b>
<br />

   Developed programming fundamentals through hands-on experience designing and deploying applications based on the .NET Framework. MSSA kick-started a progression of backend web development skills and programming capabilities
<br />
•	Creating a personal website with ASP.NET Core<br />
•	Implementing C# language and OOP concepts into Space Game as a console application<br />
•	Developing a Ski Ticket Comparison Application with SSMS and Visual Studio’s 2019<br />
•	Utilizing GitHub to keep track of version control using Visual Studio Code and Command Line Interface (CLI)<br />
•	Demonstrating the ability to grasp new concepts quickly and efficiently<br />
•	Practiced data manipulation, reserve engineering and database creation (SSMS)<br />
•	Developed projects and solutions in Visual Studio 2019<br />
<br />
<br />
<b>
    United States Marine Corps – Various Locations<br />
    Network Administrator  2015 – 2019
</b><br />
Lead the Network team in construction and maintenance of secured telephony and network connections.<br />
•	Trusted to step in as Department Head of Data to manage a team of 27 personal that established three tactical networks during Trident Juncture (Norway 2018) to deploy over 200 computer and telephone assets in under 72 hours<br />
•	Supervised and inspected $3.6M worth of sensitive tactical telecommunication and networking equipment resulting in zero loss in a three-year period<br />
•	Obtained Security+ Military Certificate to create customer accounts using Active Directory Domain Services (AD DS)<br />
•	Experienced in using the Marine Corps Training and Information Management System (MCTIMS), a proprietary military database used for tracking training progress of individual employees<br />
<br /><br />
<b>
Tactical Switching Operator 2015 – 2019</b><br />
Assisted in backend operations by maintaining the documentation and management of communications equipment for the Department of Defense and quarterly inspections of the Telecommunication Department requiring an inspection and report on the equipment.<br />
•	Counseled and mentored subordinates to enhance cohesion, effectiveness and foster the trust and confidence of junior employees<br />
•	Created a new format for record management of DoD equipment and Personally Identifiable Information that is still in use today<br />
•	Directed the surveying and relocation of over 20 telephonic assets for multiple locations to enhance day to day business<br />

<CENTER>
    <h3>
        <b>EDUCATION</b>
    </h3>
</CENTER>

<b>Embry-Riddle Aeronautical University 2019 – Present</b><br />
Microsoft Software and Systems Academy for Cloud Application Development<br />
(Five courses; 16 credit hours total) 
<ul>
   
        1. Programming Fundamentals in C#<br />
        2. Developing ASP.NET Web Apps<br />
        3. SQL and Application Development<br />
        4. Developing Cloud Applications<br />
        5. Deploying Apps in Azure<br />
    
</ul>

<CENTER>
    <h3>
        <b>MILITARY AWARDS</b>
    </h3>
</CENTER>

<b>Good Conduct Medal 2018 </b><br />
	Awarded for 3 years of exemplary personal and professional conduct in adherence to Marine Corps high standards<br />
<b> Letter of Appreciation 2017</b><br />
	Recognized for fiscal responsibility managing funds of the Communications Department<br />
<b>3 Letters of Appreciation (Recruiting) 2015 – 2016</b><br />
	Recognized for excellence enlisting three qualified applicants<br /><br /><br />
